<div class="container">
<%= form_for :sessions, url: {action: "create"} do |f| %>

  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit "Login" %>
  </p>
<% end %>
</div>