<div class="container">
<h1 class="uppercase"><%= @user.username %>'s <span class="accent-word">Profile</span> </h1>

<% if @user.judge == true %>
	<%= link_to 'Nominate a New Film', new_film_path, :class => 'black-button' %>
<% end %>
<br><br>
<h3>Your Reviews</h3>
<% if @user.reviews.length == 0 %>
  <h4>You haven't reviewed any films yet</h4>
<% else %>
<table>
  <thead>
    <td>Film Title</td>
    <td>Review</td>
  </thead>
<% @user.reviews.each do |review| %>
  <tr>
    <td><%= link_to review.film.title, film_path(review.film) %></td>
    <td><%= link_to review.body, film_path(review.film) %></td>
  </tr>
<% end %>
</table>
<% end %>

<br><br>


<h3>Your Ratings</h3>
<% if @user.ratings.length == 0 %>
  <h4>You haven't rated any films yet</h4>
<% else %>
<table>
  <thead>
    <td>Film Title</td>
    <td>Rating</td>
  </thead>
<% @user.ratings.each do |rating| %>
  <tr>
    <td><%= link_to rating.film.title, film_path(rating.film) %></td>
    <td><%= link_to (rating.score.to_f / 2), film_path(rating.film) %></td>
<% end %>
  </tr>
</table>
<% end %>
<br><br>
<% if @user == current_user %>
<%= link_to "Edit Your Profile", edit_user_path(@user), :class => "black-button" %>
<% end %>

</div>