<div class="container">
<p>Drama</p>
<%= @category1.last.title %>
</div>

<div class="container">
<p>Comedy</p>
<%= @category2.last.title %>
</div>

<div class="container">
<p>Triller/Horror</p>
<%= @category3.last.title %>
</div>

<div class="container">
<p>Musical</p>
<%= @category4.last.title %>
</div>

<div class="container">
<p>Action/Adventure</p>
<%= @category5.last.title %>
</div>

<div class="container">
<p>Documentary</p>
<%= @category6.last.title %>
</div>