<h1><%= @film.title %></h1>

<% @film.reviews.each do |review| %>
<h3>Review by: <%= review.user.username%><br><%= review.body %><br>
<% if logged_in? %>
  <%= link_to "Comment on this review", new_review_comment_path(review) %>
<% end %><br>
<% review.comments.each do |comment| %>
Comment by: <%= comment.user.username%><br><%= comment.body %><br>
<% end %>
</h3>

<% end %>

<% if @film.reviews.empty? %>
  <h3>This film has no reviews yet</h3>
<% end %>

<% if logged_in? %>
  <%= link_to "Write a review", new_review_path(params: {film_id: @film.id}) %>
<% end %>