<h1><%= @film.title %></h1>

<div id="review-list">
  <% @film.reviews.each do |review| %>
    <%= render "/reviews/review_partial", review: review %>
  <% if logged_in? %>
    <%= link_to "Comment on this review", new_review_comment_path(review) %>
  <% end %><br>
    <div class="comment-list">
      <% review.comments.each do |comment| %>
      <h4>Comment by: <%= comment.user.username%><br><%= comment.body %></h4><br>
      <% end %>
    </div>
    

  <% end %>
</div>

<% if @film.reviews.empty? %>
  <h3>This film has no reviews yet</h3>
<% end %>

<% if logged_in? %>

  <%= link_to "Write a review", new_review_path(params: {film_id: @film.id}), class:"write-review" %>
<% end %>

<div id="review-form-holder"></div>
