<h1><%= @film.title %></h1>

<div id="review-list">

<p>Average Score: <%= @film.score %></p>

<% else %>
<% if logged_in? && current_user.judge? %>
  <% if @film.ratings.where(user_id: current_user.id).length > 0  %>
    <p>Thank you for your rating</p>
  <% else %>
    <p>Rating</p>
    <%= form_for @rating do |f| %>
      <%= f.select(:score, Rating::JUDGE_SCORE) %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :film_id, :value => @film.id %>
      <%= f.submit %>
    <% end %>
  <% end %>
<% elsif logged_in? && current_user.judge != true %>
  <% if @film.ratings.where(user_id: current_user.id).length > 0 %>
      <p>Thank you for your rating</p>
  <% else %>
    <p>Rating</p>
    <%= form_for @rating do |f| %>
      <%= f.select(:score, Rating::USER_SCORE) %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :film_id, :value => @film.id %>
      <%= f.submit %>
    <% end %> 
  <% end %>
<% end %>
  <% @film.reviews.each do |review| %>

  <% if logged_in? %>
    <%= link_to "Comment on this review", new_review_comment_path(review), class:"write-comment" %>
    <div class="comment-form-holder"></div>
  <% end %><br>
    <div class="comment-list">
      <% review.comments.each do |comment| %>
      <%= render "/comments/comment_partial", comment: comment, review: review %>
      <% end %>
    </div>
  <% end %>
</div>

<% if @film.reviews.empty? %>
  <h3>This film has no reviews yet</h3>
<% end %>

<% if logged_in? %>

  <%= link_to "Write a review", new_review_path(params: {film_id: @film.id}), class:"write-review" %>
<% end %>

<div id="review-form-holder"></div>
