<h1><%= @film.title %></h1>

<div id="review-list">
  <% @film.reviews.each do |review| %>
  <h3>Review by: <%= review.user.username%><br><%= review.body %><br>
  <% if logged_in? %>
    <%= link_to "Comment on this review", new_review_comment_path(review) %>
  <% end %><br>
    <div class="comment-list">
      <% review.comments.each do |comment| %>
      Comment by: <%= comment.user.username%><br><%= comment.body %><br>
      <% end %>
    </div>
      </h3>

  <% end %>
</div>

<% if @film.reviews.empty? %>
  <h3>This film has no reviews yet</h3>
<% end %>

<% if logged_in? %>

  <%= link_to "Write a review", new_review_path(params: {film_id: @film.id}), class:"write-review" %>
<% end %>

<div id="review-form-holder"></div>
