<%= form_for @review do |f| %>
  <% if @review.errors.any? %>
    <p><%=pluralize(@review.errors.count, "error") %> prevented this review from saving.</p>

    <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

  <%end%>


  <p>
    <%=f.label :body %><br>
    <%=f.text_field :body %>
  </p>


  <p>
    <%=f.hidden_field :film_id, :value => @film.id %><br>
  </p>

   <p>
    <%=f.submit %>
  </p>
<% end %>